.app-navbar {
  position: fixed; /* fiksiran na vrh */
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; /* visina navbar-a */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16px;
  background-color: #fff; /* bijela boja navbar-a */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* blaga sjenka */
  z-index: 1000;
}

.greeting {
  font-size: 14px;
  margin-right: 10px;
  color: #fff;
}

button.mat-icon-button {
  font-size: 24px;
  padding: 8px;
}

/* Glavni sadržaj odmah ispod navbar-a */
.main-content {
  padding-top: 50px; /* isto koliko i visina navbar-a */
  width: 100%;
  box-sizing: border-box;
}

.dropdown {
  position: absolute;
  top: 50px; /* odmah ispod navbar-a */
  right: 16px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  z-index: 1100;
}
