<mat-toolbar class="app-navbar">
  <span class="greeting" *ngIf="user$ | async as user; else loading">
    Hello, {{ user.username }}
  </span>

  <ng-template #loading>
    <span class="greeting">Hello, Loading...</span>
  </ng-template>

  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Dropdown unutar toolbar-a -->
  <div class="dropdown" *ngIf="menuOpen">
    <ng-container *ngIf="user$ | async as user">
      <!-- Sign Out ako je ulogovan -->
      <button mat-button (click)="logout()">Sign Out</button>
    </ng-container>

    <!-- Sign In ako nije ulogovan -->
    <ng-container *ngIf="!(user$ | async)">
      <button mat-button routerLink="/login">Sign In</button>
    </ng-container>
  </div>
</mat-toolbar>
