<mat-toolbar class="app-navbar">
  <span class="greeting" *ngIf="user$ | async as user; else loading">
    Hello, {{ user.username }}
  </span>

  <ng-template #loading>
    <span class="greeting">Hello, Loading...</span>
  </ng-template>

  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Dropdown unutar toolbar-a -->
  <div class="dropdown" *ngIf="menuOpen">
    <button mat-button *ngIf="!isAdmin()" routerLink="/user-home">Home Page</button>
    <button mat-button (click)="logout()">Sign out</button>
  </div>
</mat-toolbar>
