<mat-toolbar class="app-navbar" color="primary">
    <div class="right">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
            <button *ngIf="!hasSignedIn()" mat-raised-button routerLink="/signup">
                <span>Sign up</span>
            </button>
            <button *ngIf="!hasSignedIn()" mat-raised-button routerLink="/login">
                <span>Login</span>
            </button>
            <button *ngIf="hasSignedIn()" [matMenuTriggerFor]="userMenu" mat-icon-button>
                <span>Hello, {{userName()}}</span>
                <mat-icon>menu</mat-icon>
            </button>
            
            <mat-menu #userMenu ="matMenu">
                <button mat-menu-item routerLink="/users">Registered Users</button>
                <button mat-menu-item (click)="logout()">sign out</button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>