
.app-navbar {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.greeting {
  font-size: 20px;
  color: rgb(150, 150, 150);
  font-weight: bold;
  display: block;
  visibility: visible;
  margin-bottom: 10px; /* Dodajte malo razmaka ispod teksta */
}

::ng-deep .mat-menu {
  top: 100% !important; /* Meni ispod dugmeta */
  right: 0 !important; /* Poravnanje sa desnom ivicom */
  z-index: 999;
}

button.mat-icon-button {
  z-index: 1000;
  font-size: 24px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
}

.mat-menu-panel {
  width: 200px;
  background-color: #fff;
  border: 1px solid #5e5c5c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mat-menu-panel .mat-menu-item {
  display: block;
  padding: 10px 15px;
  font-size: 14px;
}

