<nav>
    <ul>
      <li><a routerLink="/user-home">Početna</a></li>
      <li><a routerLink="/chat">Chat</a></li> 
      <li><a routerLink="/activity-trends">Activity trends</a></li> 
      <li><a routerLink="/followed-user-post">Followed user post</a></li> 
      <li><a routerLink="/nearby-posts-map">Nearby posts map</a></li> 
      <li><a routerLink="/profile/:userId">Profil</a></li>
    </ul>

    <div class="search-container">
      <input type="text"
       [(ngModel)]="searchQuery"
       (input)="searchUsers()"
       placeholder="Search users" />

      <ul *ngIf="searchResults.length">
        <li *ngFor="let user of searchResults">
          <a [routerLink]="['/profile', user.id]">{{ user.username }}</a>
        </li>
      </ul>
    </div>
    <div *ngIf="searchResults.length === 0 && !errorMessage && fleg" class="alert alert-info">
      No results found.
    </div>
    
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    

</nav>
<app-post></app-post>
<app-create-post></app-create-post> 