<div>
    <h2>All registered users</h2>

    <!-- Polja za unos kriterijuma pretrage -->
  <div>
    <label for="firstName">Firstname:</label>
    <input id="firstName" [(ngModel)]="searchCriteria.firstName" placeholder="Firstname" />
    
    <label for="lastName">Lastname:</label>
    <input id="lastName" [(ngModel)]="searchCriteria.lastName" placeholder="Lastname" />
    
    <label for="email">Email:</label>
    <input id="email" [(ngModel)]="searchCriteria.email" placeholder="Email" />

     
    <label for="minPosts">Min Posts:</label>
    <input id="minPosts" type="number" [(ngModel)]="searchCriteria.minPosts" min="0" placeholder="Minimum Posts" />
    
    <label for="maxPosts">Max Posts:</label>
    <input id="maxPosts" type="number" [(ngModel)]="searchCriteria.maxPosts" min="0" placeholder="Maximum Posts" />

    <label for="sortBy">Sort by:</label>
    <select id="sortBy" [(ngModel)]="searchCriteria.sortBy">
      <option value="email">Email</option>
      <option value="followersCount">Followers Count</option>
    </select>

    <label for="sortDirection">Sort Direction:</label>
    <select id="sortDirection" [(ngModel)]="searchCriteria.sortDirection">
      <option value="ASC">Ascending (ASC)</option>
      <option value="DESC">Descending (DESC)</option>
    </select>

    <button (click)="searchUsers()">Search</button>
  
    <table>
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Posts count</th>
          <th>Followers count</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of registeredUsers">
          <td>{{ user.firstname }}</td>
          <td> {{ user.lastname }}</td>
          <td>{{ user.email }}</td>
          <td></td>
          <td>{{ user.followersCount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  