<mat-tab-group>
    <mat-tab label="Sve objave">      
      <!-- Unutrašnji mat-tab-group -->
      <mat-tab-group>
        <mat-tab label="Sve objave">
            <p>Ukupan broj objava na mreži: {{ allPosts?.length }}</p>
          <div>
            <app-post [inputPosts]="allPosts" (refreshLists)="reloadData()"></app-post>
        </div>
          <ng-template #noPosts>
            <p>Nema objava.</p>
          </ng-template>
        </mat-tab>
        <mat-tab label="Objave zadnjih mjesec dana">
            <p>Ukupan broj objava na mreži: {{ postsLastMonth?.length }}</p>
            <div>
                <app-post [inputPosts]="postsLastMonth" (refreshLists)="reloadData()"></app-post>
            </div>
          <ng-template #noRecentPosts>
            <p>Nema objava iz zadnjeg mjeseca.</p>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-tab>
    <mat-tab label="Najpopularnije">
        <!-- Unutrašnji mat-tab-group za pod-tabove -->
        <mat-tab-group>
          <!-- Tab za 5 najlajkovanijih objava u poslednjih 7 dana -->
          <mat-tab label="5 najlajkovanijih u poslednjih 7 dana">
            <p>Ukupan broj objava: {{ postsMostPopularLast7Days?.length }}</p>
            <div>
              <app-post [inputPosts]="postsMostPopularLast7Days" (refreshLists)="reloadData()"></app-post>
            </div>
            <ng-template #noPostsLast7Days>
              <p>Nema popularnih objava u poslednjih 7 dana.</p>
            </ng-template>
          </mat-tab>
      
          <!-- Tab za 10 najpopularnijih objava ikada -->
          <mat-tab label="10 najpopularnijih ikada">
            <p>Ukupan broj objava: {{ postsMostPopularEver?.length }}</p>
            <div>
              <app-post [inputPosts]="postsMostPopularEver" (refreshLists)="reloadData()"></app-post>
            </div>
            <ng-template #noPopularPostsEver>
              <p>Nema popularnih objava ikada.</p>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
      
      <mat-tab label="Korisnički nalozi">
        <p>Ukupan broj naloga: {{ usersMostPopular?.length }}</p>
      
        <div *ngIf="usersMostPopular?.length; else noUsers">
          <ul>
            <li *ngFor="let user of usersMostPopular">
              <strong>{{ user.username }}</strong> - <span> {{ user.email}} </span>
            </li>
          </ul>
        </div>
      
        <ng-template #noUsers>
          <p>Nema korisničkih naloga.</p>
        </ng-template>
      </mat-tab>
      
  </mat-tab-group>
